#Flask v1.0.2
#Docker v18.03.1-ce
#Docker Compose v1.21.1
#Docker Machine v0.14.0
#Docker Compose file v3.6
#Flask-SQLAlchemy v2.3.2
#psycopg2 v2.7.4
#Flask-Testing v0.6.2
#Gunicorn v19.8.1
#Nginx v1.15.0
#Bulma 0.7.1

flask==1.0.2
flask-sqlalchemy==2.1
#docker==18.03.1-ce
#docker-compose==1.21.1
#docker-machine==0.14.0
