#Python v3.7.2
#Flask v1.0.2
#Flask-RESTful v0.3.7
#Docker v18.09.2
#Docker Compose v1.23.2
#Docker Machine v0.16.1
#Docker Compose file v3.7
#Postgres v11.2
#Flask-SQLAlchemy v2.3.2
#psycopg2 v2.7.7
#Flask-Testing v0.7.1
#Gunicorn v19.9.0
#Nginx v1.15.9
#Bulma 0.7.4

flask==1.0.2
flask-sqlalchemy==2.3.2
Flask-API==1.1
request==2019.4.13
psycopg2==v2.7.7
Flask-Testing==0.7.1
Flask-RESTful==0.3.7
